body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: var(--main-transition);
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

a, h2 {
  color: inherit;
}

a {
  transition: var(--main-transition);
}

input, textarea {
  outline: none;
  color: var(--main-font-color);
}

a:hover {
  color: var(--secondary-font-color);
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
}

h1 span:last-of-type {
  color: var(--secondary);
}

h2 {
  font-size: 4rem;
}

h3 {
  color: var(--secondary-font-color);

  transition: var(--main-transition);
}

#header .burger {
  padding: .25rem;
  border: none;
  background: none;
}

#nav-icon3 {
  width: 21px;
  height: 14px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--main-font-color);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 6px;
}

#nav-icon3 span:nth-child(4) {
  top: 12px;
}

#nav-icon3.open span:nth-child(1) {
  top: 6px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 4px;
  width: 0;
  left: 50%;
}

.modal-window.active {
  display: flex;
}

.modal-window {
  display: none;
  background: var(--main-bg-color);
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: -40px;
}

.modal-window .actions .btn {
  background: var(--main-bg-color);
}
.modal-window .actions .btn:hover path {
  fill: var(--main-font-color);
}

.modal-window .content {
  position: relative;
  background: rgba(255, 255, 255, .2);
  border-radius: 4rem;
  margin: 0 auto;
}

.modal-window .content .description {
  max-height: 500px;
  overflow: scroll;
}

.modal-window .content.l {
  max-width: 70%;
}

.modal-window .content.m {
  max-width: 60%;
}

.modal-window .content.s {
  max-width: 40%;
}

section:not(:first-of-type) {
  padding: 6rem 0;
}

@media (min-width: 768px) {
  section .container > p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

p {
  font-size: 1.7rem;
  color: var(--muted-main-font-color);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.btn {
  padding: .875rem;

  color: inherit;
  text-transform: uppercase;
  text-align: center;
  background: transparent;

  border: var(--secondary-border);
  border-radius: 2rem;

  transition: var(--main-transition);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}

.cta-btn {
  width: 100%;
  padding: 1.8rem 0;

  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background: var(--btn-bg-color);
  background-size: 200% 100%;
  background-position: 100% 0;

  border: none;

  transition: var(--long-transition);
}

.cta-btn:hover {
  cursor: pointer;
  background-position: 0 0;
}

.bordered {
  border: var(--secondary-border);
}

.thick-bordered {
  border: var(--main-border);
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.filters {
  border-radius: 8rem;
}

.filters .btn {
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.filters .btn.active {
  background: var(--hover-bg-color);
}

.filters .btn.selected {
  background: var(--hover-bg-color);
}

.input, #file+label {
  width: 100%;
  position: relative;
}

.error-text {
  font-size: 1.5rem;
  margin-top: .3rem;
  color: #E21A1A;
}

.error-label {
  color: var(--main-font-color) !important;
  background: #E21A1A !important;
  border: 1px solid #E21A1A !important;
}

.error-input {
 border-color: #E21A1A!important;
}

textarea, input {
  font-family: "Lexend Regular";
}

.truncated-text {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, .2);
  font-family: "Lexend Regular";
}

#file+label {
  cursor: pointer;
  color: rgba(255, 255, 255, .2);
}

input, textarea, .cta-btn, #file+label {
  font-size: 2rem;
  border-radius: 3rem;
}

input, textarea, #file+label {
  display: block;
  width: inherit;
  padding: 1.8rem 2rem;

  background-color: var(--input-bg-color);
  border: var(--secondary-border);
}

form input~span, form textarea~span {
  font-family: "Futura PT";
  font-size: 1.2rem;

  padding: .125rem .5rem;

  position: absolute;
  left: calc(2rem + 2px);
  /* To make it exactly the same level as a placeholder,
   ** you have to sum input left padding and border thickness
   */
  top: -.75rem;

  color: var(--dark-font-color);
  background-color: #fff;

  border: none;
  border-radius: 1.5rem;
}

#file {
  visibility: hidden;
  position: absolute;
  left: -9999%;
  width: 0;
  height: 0;
}
@media (min-width: 768px) {
  .error-text {
    font-size: 1rem;
  }
  input, textarea, #file + label {
    padding: 1.3rem 2rem;
    font-size: 1.5rem;
    border-radius: 2.5rem;
  }
  .cta-btn {
    font-size: 1.5rem;
    padding: 1.3rem 4.5rem;
    width: initial;
  }
}
.card {
  margin: 0 .5rem;
  padding: 1.75rem 3rem;
  cursor: pointer;

  border-radius: 3rem;

  transition: var(--main-transition);
}

.card:hover {
  background-color: var(--hover-bg-color);
}

.card * {
  transition: var(--main-transition);
}

.tinted {
  background-color: rgba(var(--font), .12);
  backdrop-filter: blur(10px);
}

.card.tinted:hover h3 {
  color: var(--dark-font-color);
}

.cross-icon {
  cursor: pointer;

  transition: var(--main-transition);
}

.cross-icon-selected {
  transform: rotate(45deg);
}

.cross-icon-selected path {
  fill: var(--secondary-font-color);
}

.accordion-container {
  cursor: pointer;

  padding: 1.5rem 2rem;

  border-radius: 2.5rem;
  overflow: hidden;
}

.accordion-container:not(:first-of-type) {
  margin-top: 1.5rem;
}

.accordion__intro {
  font-size: 2.1rem;

  position: relative;

  transition: var(--main-transition);
}

.accordion__content {
  font-size: 1.95rem;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: var(--main-transition);
  opacity: 0;
}

.accordion-container__active .accordion__intro {
  color: var(--secondary-font-color);
}

.accordion-container__active .accordion__content {
  padding-top: 1.5rem;
  opacity: 1;
}

@media (min-width: 768px) {
  .accordion__intro {
    font-size: 1.8rem;
  }
  .accordion__content {
    font-size: 1.65rem;
  }
}

.sidebar {
  padding-top: 9rem;
  background-color: var(--main-bg-color);

  z-index: var(--sidebar__z-index);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  transform: translateX(-100%);
  transition: var(--main-transition);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .btn {
  width: 100%;
  border-radius: 4rem;
}

.sidebar li:first-child .btn {
  background-color: var(--tint-main);
}

.sidebar li:last-child .btn {
  background-color: var(--hover-bg-color);
}

.sidebar li {
  width: 100%;
  margin-top: 1.5rem;

  font-size: 2rem;

  border-radius: 4rem;
}

.theme-toggle {
  cursor: pointer;

  min-width: 102px;
  max-width: 102px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  border-radius: 18px;
  background-color: var(--hover-bg-color);
}

.theme-toggle * {
  transition: var(--long-transition);
}

.theme-palette small {
  font-size: 2rem;
}

#file {
  visibility: hidden;
}

@media screen and (min-width: 768px){
  .group > *:not(:first-child):not(:last-child) {
    margin: 0 .875rem;
  }

  .group > :first-child {
    margin-right: .875rem;
  }

  .group > :last-child {
    margin-left: .875rem;
  }
  .theme-palette small {
    font-size: 1rem;
  }
}

.theme-toggle .theme-toggle_background {
  padding: 6px;

  width: 45%;
  height: 72%;

  position: absolute;
  left: 5px;

  border-radius: 16px;
  background-color: var(--main-font-color);
}

.theme-toggle .sun, .theme-toggle .moon {
  position: relative;
  z-index: 3;
}

.theme-toggle .moon {
  left: 13px;
}

.theme-toggle .sun {
  right: 12px;
}

.theme-toggle svg, .theme-toggle path, .theme-toggle_background {
  pointer-events: none;
}

.theme-toggle.light .theme-toggle_background {
  transform: translateX(100%);
}

.theme-toggle.light .sun path {
  fill: var(--secondary-font-color);
}

.theme-toggle.light .moon path {
  fill: var(--main-font-color);
}
