@font-face {
  font-family: 'Lexend Regular';
  font-style: normal;
  src: url('../assets/fonts/Lexend/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  src: url('../assets/fonts/Futura PT/FuturaPT-Medium.ttf');
}
