#header {
  position: fixed;
  left: 0;
  right: 0;

  z-index: var(--sticky-header__z-index);
}

#header .logo {
  pointer-events: none;
}

header .bordered {
  border-radius: 4rem;
  background-color: var(--main-bg-color);
}
