body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: var(--font-main);
}

section {
  z-index: 1;
}

section .bg {
  z-index: 3;
}

section > .container, #about {
  position: relative;
  z-index: 5;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

#hero, #brands, #commissions, #faq {
  position: relative;
}

#hero .container {
  padding: 4rem;
  min-height: 90vh;
}

@media (min-width: 320px) {
  .container {
    /* Important to override bootstrap defaults */
    max-width: 94%!important;
  }
}

@media (min-width: 840px) {
  .container {
    /* Important to override bootstrap defaults */
    max-width: 85%!important;
  }
}

/* Here and below is a setup for rem */
@media (min-width:320px) {
  html {
    font-size: 8px;
  }
}

@media (min-width:680px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 980px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1441px) {
  html {
    font-size: initial;
  }
}
