#hero .circle {
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
}

#hero .light {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#hero .blog {
  padding: 1.5rem;

  width: 100%;
  max-height: 38rem;

  font-size: 1.5rem;

  overflow: scroll;
  border: 3px solid var(--secondary);
  border-radius: 6.25rem;

  backdrop-filter: blur(10px);
  background: var(rgba(var(--font), .12));
}

@media screen and (min-width: 980px) {
  #hero .blog {
    max-width: 33%;
  }
}

#hero .blog::-webkit-scrollbar-track {
  margin-top: 5rem;
}

#hero .card:not(:last-of-type) {
  margin: 0 0 1rem 0;

  border-radius: 12.25rem;
}

#hero .card small {
  color: var(--muted-main-font-color);
}

#about .card, #about .svg {
  flex: 1;
}

#about .svg {
  max-width: 20%;
}

#about .svg object {
  width: 100%;
}

#about ul {
  margin: 0 -.5rem;
}

#about .card {
  padding: 1.5rem;
}

#about .card:hover h4 {
  color: var(--dark-font-color);
}

.about_cards {
  flex: 4;
}

#brands .circle {
  margin: 0 auto;
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#brands ul li {
  cursor: pointer;

  display: flex;
  align-items: center;
}

#brands .thick-bordered {
  border-radius: 4.5rem;
}

#brands .card, #commissions .card.tinted {
  cursor: initial;
  background-color: rgba(var(--font), .12);
  backdrop-filter: blur(10px);
}

#brands object {
  width: 100%;
}

#brands .splide__pagination {
  margin: 0 auto;
  width: 6.5rem;
  padding: .5rem;

  position: relative;
  top: 1rem;

  background-color: rgba(var(--font), .12);
  backdrop-filter: blur(10px);

  border-radius: 2rem;
}

#brands .splide__pagination__page {
  width: .75rem;
  height: .75rem;
  margin: 0;

  background: rgba(var(--font), .2);
}

#brands .splide__pagination li:not(:first-of-type):not(:last-of-type) {
  margin: 0 .625rem;
}

#brands .splide__pagination__page.is-active {
  width: 1.5rem;
  height: 1.5rem;

  background: var(--main-font-color);
  border: .375rem solid var(--secondary-font-color);
  opacity: 1;

  transform: none;
}

.splide__slide .thick-bordered {
  width: 100%;
}

#commissions .coins {
  position: absolute;
  right: 5rem;
  bottom: 0;
  width: 25%;
}

#commissions .light {
  position: absolute;
  width: 60%;
  left: 0;
  top: 0;
}

#commissions ul+div, #commissions ul {
  flex: 1;
}

#commissions .card.bg-transparent {
  border-radius: 4.5rem;
}

#commissions li:not(:first-of-type):not(:last-of-type) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#commissions .card.bg-transparent:hover * {
  color: var(--dark-font-color);
}

#commissions .card.tinted:hover h3 {
  color: var(--hover-bg-color);
}

#commissions #filters-group.filters li {
  margin: 0;
}

.filters .btn.active {
  color: var(--dark-font-color);
}

.filters .btn {
  padding: .5rem 1rem;
  font-size: .9rem;

}

#events {
  overflow: hidden;
}

#events .splide__track {
  overflow: visible;
}

#events .card {
  border-radius: 20rem;
  overflow: hidden;
}

#events .card .inner {
  transform: translateY(1.5rem);
  transition: var(--main-transition);
}

#events .card .cta-btn {
  opacity: 0;
  background: var(--tint-main);
  transform: translateY(4rem);
}

#events .card:hover .inner, #events .card:hover .cta-btn {
  transform: translateY(0);
}

#events .card .place {
  color: var(--muted-main-font-color);
}

#events .card:hover h3 {
  color: var(--dark-font-color);
}

#events .card:hover .cta-btn {
  opacity: 1;
  background: var(--tint-main);
  transition-delay: .1s;
}

#events .my-carousel-progress {
  background: var(--muted-main-font-color);
  border-radius: 10px;
}

#events .my-carousel-progress-bar {
  background: var(--secondary-font-color);
  height: 8px;
  border-radius: 10px;
  transition: var(--main-transition);
  width: 0;
}

#faq .coins_left {
  margin: auto 0;
  width: 20%;

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
}

#faq .coins_right {
  width: 20%;
  margin: auto 0;

  position: absolute;
  bottom: -5rem;
  right: 0;
}

#contact {
  background-image: url("../../assets/backgrounds/footer.svg");
  background-size: cover;
}

#contact form {
  border-radius: 4rem;
  backdrop-filter: blur(10px);
  background: rgba(var(--font), .2);
}

#contact form header h4 {
  color: var(--secondary-font-color);
}

#contact form header span {
  color: var(--muted-main-font-color);
}

#contact .group * {
  margin: 0;
}

#contact form li {
  width: 100%;
}

#contact form button {
  width: 100%;
}

@media screen and (min-width: 680px) {
  #hero .light {
    width: 55%;
  }
}

@media screen and (min-width: 980px) {
  #contact form li {
    margin: 0;
  }

  #contact .group > *:not(:first-child):not(:last-child) {
    margin: 0 .25rem;
  }

  #contact .group > :first-child {
    margin-right: .25rem;
  }

  #contact .group > :last-child {
    margin-left: .25rem;
  }
}

@media screen and (min-width: 1441px) {
  #about .svg {
    width: 55%;
  }
}
