#news {
  background-image: url("../../assets/backgrounds/news_top_bg.svg");
  background-position: top center;
  background-size: 300%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 12rem;
}

#news .bg.coins-bottom {
  width: 100%;
  z-index: var(--background-layer__z-index);
  position: absolute;
  bottom: -18%;
  left: 0;
  right: 0;
}

#news .bg.coins-bottom-mobile {
  width: 100%;
  z-index: var(--background-layer__z-index);
  position: absolute;
  bottom: -4%;
  left: 0;
  right: 0;
}

#news .splide {
  padding: 1.2rem 1.4rem;
  border-radius: 14rem;
}

#news .splide li .btn {
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 3rem;
}

#news .splide li .btn.active {
  background: var(--hover-bg-color);
}

.splide li .btn:hover {
  background: transparent;
}

.news-content {
  gap: 1rem;

  cursor: pointer;
  border-radius: 2.5rem;
  background-color: var(--tint-main);
}

.news-content .publication-date {
  text-align: right;
  flex-basis: 60%;
}

.news-content img {
  width: 100%;

  border-radius: 1rem;
}

.news-content > * {
  flex: 1;
}

.splide .shadow {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: var(--content-layer__z-index);
  border-radius: 14rem;
  background: linear-gradient(270deg, #110A1D, rgba(17, 10, 29, 0) 35.93%, rgba(255, 255, 255, 0) 84%, #110A1D);
}

.news-content h4 {
  text-transform: uppercase;
}

.news-content h5 {
  color: var(--secondary-font-color);
  font-weight: bold;
}

.news-content .news-tag {
  padding: .5rem 1rem;
  text-transform: uppercase;

  background: var(--btn-bg-color);
  border-radius: 2rem;
}

@media (min-width: 768px) {
  #news {
    background-size: 100%;
  }

  .news-content {
    border-radius: 21.5rem;
  }

  .news-content img {
    border-radius: 10rem;
  }

  .news-content .publication-date, .news-content .news-tag {
    flex-basis: 0%;
  }
}
