#news_content {
  padding-top: 12rem;
  background-image: url("../../assets/backgrounds/single_news_sidebar.svg");
  background-size: 55%;
  background-position: top right;
  background-repeat: no-repeat;
}

#news_content a {
  color: var(--secondary-font-color);
}

#news_content .news-tag {
  padding: .5rem 1rem;
  text-transform: uppercase;

  background: var(--btn-bg-color);
  border-radius: 2rem;
}

.quote {
  background-color: var(--background-purple);
  border-radius: 5.5rem;
}

.quote q {
  font-size: 2rem;
  color: var(--dark-font-color);
}

#news_content p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--main-font-color);
}

.tags li:not(:first-child) {
  padding: .5rem 1rem;
  text-transform: uppercase;

  color: var(--dark-font-color);
  background: var(--main-font-color);

  border-radius: 2rem;
}

#news_content .container {
  gap: 4.5rem;
}

#news_content .container .side_info {
  flex-basis: 25%;
}

#news_content .container .content {
  flex-basis: 75%;
}

.splide__slide {
  cursor: pointer;
  min-height: 15rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  border-radius: 4rem;

  overflow: hidden;
}

.splide__slide .shadow {
  opacity: 0;
  background: #4F4F4F;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: var(--main-transition);
}

.splide__arrow--prev.left {
  opacity: 1;
  left: -3rem;
}

.splide__arrow--next.right {
  opacity: 1;
  right: -3rem;
}

.splide__slide h5 {
  color: var(--dark-font-color);
}

.splide__slide:hover h5 {
  color: var(--main-font-color);
}

.splide__slide .post-date, .splide__slide h5 {
  z-index: 7;
}

.splide__slide .post-date {
  color: var(--secondary-font-color);
}

.splide__slide:hover .shadow {
  opacity: .8;
}

.subscribe-form {
  border-radius: 3.5rem;
  background: rgba(var(--font), 0.12);
}

.subscribe-form header {
  color: var(--main-font-color);
  text-transform: uppercase;
}

.share-panel li path {
  cursor: pointer;
  transition: var(--main-transition);
}

.share-panel li:hover svg path:first-child {
  fill: var(--secondary-font-color)!important;
/**
 *important should stay to not loose hover effect while switching between themes
 */
}

.share-panel li:hover svg path:last-child {
  fill: var(--main-font-color);
}
